.supercontainer {
    margin-top: 30px;
}

.title{
    margin-left: 10px;
    margin-bottom: 10px;
}

.item-form {
    width: 100%;
}

.section-form{
    margin-left: 10px;
    margin-right: 10px;
}

.section-button__form{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.style{        
    color: var(--wetch-black)!important;
}

