@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
.space-menu {
    flex: 1 1 auto;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    font-family: 'Lexend', sans-serif;
    color: azure;
    text-decoration: none;
    font-family: 'gothic';
    font-size: 1.1rem;
}

.titulo {
    font-family: 'gothic';
    text-decoration: none;
    color: var(--wetch-white);
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

.titulo:hover{
    color: var(--wetch-black);
}

.rounded {
    margin-right: 15px;
    border-radius: 25px;
    border: 2px solid;
    padding-left: 12px;
    padding-right: 12px;
}

.hover_rouded:hover{
    color: var(--wetch-black);
    font-weight: bold;
}

.rounded:hover{
    border-color: aqua;
    background-color: var(--wetch-black);
    color: var(--wetch-white);

}

.secondary:hover{
    border-bottom: 2px solid;
    font-size: 1.5rem;
}