<mat-toolbar color="primary">  
    <div fxLayout fxLayoutAlign="start center">
      <button fxShow fxHide.gt-xs mat-icon-button aria-label="Menú" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>  
      <span>
          <a *ngIf="user" [routerLink]="['dashboard']" class="titulo">Wetch</a>          
          <a *ngIf="!user" [routerLink]="['']" class="titulo">Wetch</a>          
      </span>
    </div>
    <span class="space-menu"></span>
    <div fxHide fxShow.gt-xs>
        <ul fxLayout fxLayoutGap='15px' class="navigation-items">      
          <li *ngIf="!user"><a class="item" routerLink='/empresa/info'>Empresa</a></li>
          <li *ngIf="!user"><a class="item" routerLink='/empresa/info'>Proyectos</a></li>
          <li *ngIf="!user"><a class="item" routerLink='/empresa/info'>Contacto</a></li>      
          <li *ngIf="user && user.isPlanificador()"><a class="item" routerLink='/empresa/info'>Proyectos</a></li>      
          <li *ngIf="user"><a class="item" routerLink='/empresa/info'>Mi perfil</a></li>      
        </ul>       
    </div>  
    <div>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu" xPosition="before">
        <ng-container *ngIf="user; else elseTemplate">
          <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-menu-item [routerLink]="['login']">Iniciar Sesión</button>
          <button mat-menu-item [routerLink]="['register']">Regístrate</button>
        </ng-template>              
      </mat-menu>       
    </div>
</mat-toolbar>