<mat-toolbar color="primary">  
    <div fxLayout fxLayoutAlign="start center">
      <button fxShow fxHide.gt-xs mat-icon-button aria-label="Menú" (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>  
      <span>
        <a href="/dashboard" class="titulo">Wetch</a>
      </span>
    </div>
    <span class="space-menu"></span>
    <div fxHide fxShow.gt-xs>
      <ul fxLayout fxLayoutGap='15px' class="navigation-items">      
        <li><a class="item" routerLink='/empresa/info'>Empresa</a></li>
        <li><a class="item" routerLink='/empresa/info'>Proyectos</a></li>
        <li><a class="item" routerLink='/empresa/info'>Contacto</a></li>      
      </ul>
    </div>  
    <div>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Iniciar Sesión</button>
        <button mat-menu-item>Regístrate</button>
        <button mat-menu-item>Cerrar Sesión</button>
      </mat-menu>       
    </div>
</mat-toolbar>