<footer fxLayout="row" fxLayout.xs="column">
    <div fxFlex='90' class="footer-title" fxLayoutAlign.gt-xs="left center" fxLayoutAlign="center center">        
        <p class="p-footer">&copy; Wetch 2021. Todos los derechos reservados</p>
    </div>
    <div fxFlex='10'fxLayout="row" fxLayoutAlign="center center">
        <i class="fab fa-facebook-f icons-redes-sociales"></i>
        <i class="fab fa-twitter icons-redes-sociales"></i>    
        <i class="fab fa-instagram icons-redes-sociales"></i>        
    </div>
</footer>