.item-form {
    width: 100%;
}

.section-form{
    margin-left: 10px;
    margin-right: 10px;
}

.btn-right{
    justify-content: flex-end;
}

.text-right-align {
    text-align: right;
  }

.sufix {
    margin-left: 5px;
}


