:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// PARA SIDENAV SMALL
mat-sideav-container, 
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

.main {
    margin: 10px;
    min-height: 100vh;
    max-height: 100%;
}

// PARA SIDENAV > SMALL
mat-drawer {
   width: 20%;    
}

mat-drawer-container{    
    height: 100vh;
}

mat-drawer-content {
    padding: 10px;
}