table {
    width: 100%;
  }

.supercontainer {
    margin: 10px;
}

.contenedor{
    height: 100%;
}

.section-form{
    margin-left: 10px;
    margin-right: 10px;
}

.item-form {
    width: 100%;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}