.section-form{
    margin-left: 10px;
    margin-right: 10px;
}

.item-form {
    width: 100%;
}

.margin{
    margin-bottom: 0;
}

.btn-right{
    padding-top: 0;    
    justify-content: flex-end;
}